.intro{
    display: flex;
    position: relative;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.i-right{
    flex:1;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    right: 62px;
}
.i-name{
   display: flex;
   flex-direction: column; 
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
  
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.i-button{
    width: 6rem;
    height: 2rem;
}

.i-icons{
    margin-top: 2rem;
    display: flex;
    gap: 0rem;
}

.i-icons>*{
    transform: scale(0.5);
    cursor: pointer;
   
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1) {
    transform: scale(0.69);
    left: 10%;
    top: 10%;
}

.i-right>:nth-child(2) {
    top: 0.4rem;
    transform: scale(0.67);
    left: 5rem;
}
.i-right>:nth-child(3) {
    top: 4.4rem;
   
        transform: scale(1.48);
        left: 46%;
}
.i-right>:nth-child(4) {
    transform: scale(0.5);
    left: 10%;
    top: -2.6rem;
    border-radius: 50%;
    padding: 0;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: 73%;
    left: 41%;
}
@media  screen and (max-width:480px) {
 
    .intro{
   
   display: flex;
   flex-direction: column;
   margin: 2px;
    }
    .i-right {
        flex: 1 1;
        flex-direction: column;
        position: relative;
        bottom: 0px;
        right: 101px;
    }
    .floating-div:nth-of-type(1){
        position: relative;
        top: 10rem !important;
        left: 12rem !important;
    }
    .floating-div2{
        position: relative;
        top: 23.2rem !important;
        left: 4rem !important;
    }
    .i-right>:nth-child(1) {
        transform: scale(0.69);
        left: -22%;
        top: 10%;
    }
    .i-right>:nth-child(2) {
        top: 0.4rem;
        transform: scale(0.67);
        left: -3rem;
    }
 .i-icons{
    position: relative;
    left: -26px;
 }
}